{% extends "layout.html" %}
{% block body %}

<div class="row">
  <!-- <p class="text-center">{{title}}</p> -->
  <div class="chirp_input text-center">
    <form action="/chirps" class="form-inline" method="POST">
      <div class="form-group">
        <input name="new_chirp" type="text" class="form-control input-lg" maxlength="141" placeholder="What's on your mind?">
        <button type="submit" name="button" class="btn">chirp</button>
      </div>
    </form>
  </div>
</div>

<div class="row">
  {% for chirp in chirps %}
  <div class="well well-lg chirps col-md-12">
    <strong>{{chirp.name}}</strong> @{{chirp.username}} - {{chirp.chirp_date.strftime('%x %X')}}
    <br>
    {{chirp.chirp_content}}
  </div>
  {% endfor %}

</div>


{% endblock %}
